body {
  background-image: url('https://media1.giphy.com/media/3ohhwJlKHGchQUtvBS/giphy.gif');
  background-size: cover;
  background-position: center center;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
  align-items: center;
  justify-content: space-between;
}
    
.header {
  text-align: center;
}

.title {
  background-color: #30a2cf; 
  padding: 10px; 
  text-align: center; 
  display: inline-block;
  border-radius: 10px;
}

.title h1
.title h2 {
  background-color: transparent;
  display: inline;
  margin: 0;        
}
    
ul {
  list-style: none; 
  display: flex; 
  justify-content: center; 
  padding: 0; 
}
    
li {
  margin: 0 30px; 
}

button {
  background-color: #30a2cf; 
}
    

.banner {
  background-color: 
  padding: 0px; 
  margin: 0; 
  text-align: center; 
  height: 100vh;
  position: relative;
}
    


/* Styles for the modal and its content */
.games-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}

.games-modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.exit {
  float: right;
  cursor: pointer;
}



.modal {
  display: none; Hide the modal by default
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
  overflow: auto;
}

.dad-modal-content {
  background-color: white; /* White background for the content */
  margin: 15% auto; /* Center the content vertically and horizontally */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Adjust the width as needed */
  box-shadow: 0px 0px 10px 0px #000;
  text-align: center;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

/* Additional styles for the dad joke display (you can modify these as needed) */
#dadJokeContainer {
  font-size: 18px;
  color:black;  
  background-color: #30a2cf;
  margin-top: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
}

h3 {
  background-color: #30a2cf; 
  padding: 10px; 
  border-radius: 10px;
}
    

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}
    
.image {
  max-width: 100%; 
  height: 50%; 
  margin: 10px;
  box-sizing: border-box; 
}
    
/* Additional styles for Games */
#gamesList {
  margin-top: 20px;
}

#loadMoreBtn {
  display: block;
  margin-top: 10px;
  cursor: pointer;
}

