body {
    background-image: url('./Assets/Images/neon-stream1.gif');
    background-size: cover;
    background-position: center center;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
    align-items: center;
    justify-content: space-between;
    }
    
    .header {
      text-align: center;
    }
    /* Style the h1 element */
    .title {
      background-color: #30a2cf; 
      padding: 10px; 
      text-align: center; 
      display: inline-block;
      border-radius: 10px;
      
    }
    
    /* Style the h2 element */
    .title h1
    .title h2 {
        background-color: transparent;
        display: inline;
        margin: 0;
        
    }
    
    /* Style the ul element */
    ul {
      list-style: none; 
      display: flex; 
      justify-content: center; 
      padding: 0; 
    }
    
    /* Style the li elements within the ul */
    li {
      margin: 0 30px; 
    }

    button {
        background-color: #30a2cf; 
    }
    
    /* Style the banner element */
    .banner {
      background-color: 
      padding: 0px; 
      margin: 0; 
      text-align: center; 
      height: 100vh;
      position: relative;
    }
    
   /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.music-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
    

    h3 {
        background-color: #30a2cf; 
        padding: 10px; 
        border-radius: 10px;
    }
    

    .image-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Center images horizontally */
    }
    
    .image {
        max-width: 100%; /* Set a maximum width for scaling */
        height: 50%; /* Automatically adjust height to maintain aspect ratio */
        margin: 10px;
        box-sizing: border-box; /* Include margin in the width calculation */
    }
    
    
